@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

.main-nav {
  width: 100%;
  z-index: 20;
}
.main-nav .navbar-main-con {
  background: #f4f5fa;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  height: 50px;
  width: 98%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con {
    border-radius: 10px;
    height: 60px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
.main-nav .navbar-main-con .logo-con {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con .logo-con {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 300px;
  }
}
.main-nav .navbar-main-con .logo-con img {
  height: 100%;
  transform: scale(0.9);
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con .logo-con img {
    height: 70px;
  }
}
.main-nav .navbar-main-con .logo-con .wholename {
  height: 80%;
  margin-right: 20px !important;
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con .logo-con .wholename {
    height: 40%;
    margin-right: 20px;
  }
}
.main-nav .navbar-main-con .navbar {
  background: #f4f5fa;
  overflow: hidden;
  height: 0;
  right: -8px !important;
  width: 100vw;
  max-width: 800px;
  position: absolute;
  top: 50px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con .navbar {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    top: 0;
    height: 100%;
  }
}
.main-nav .navbar-main-con .navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con .navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 90%;
    max-width: 700px;
  }
}
.main-nav .navbar-main-con .navbar ul li {
  padding: 2px;
  margin: 10px 5px;
  text-align: center;
  font-weight: 600;
  color: #4169e1;
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con .navbar ul li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.main-nav .navbar-main-con .navbar ul li:hover {
  color: #666;
}
.main-nav .navbar-main-con .active-meun {
  height: auto;
}
.main-nav .navbar-main-con .menu-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 35px;
  color: #4169e1;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .main-nav .navbar-main-con .menu-btn {
    display: none;
  }
}

.banner-main-con {
  background: black;
}
.banner-main-con .carousel-main-con {
  position: relative;
  height: 300px;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con {
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con {
    height: 800px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
    height: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .carousel-items-con {
    height: 800px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .carousel-items-con .img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con {
    height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con {
    height: 500px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con {
  position: absolute;
  top: 120px;
  max-width: 400px;
  padding: 5px;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con {
    top: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con {
    top: 300px;
    max-width: 800px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .text-con h1 {
  color: #f4f5fa;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .text-con h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .text-con h1 {
    font-size: 80px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .text-con h1 span {
  color: #4169e1;
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .text-con p {
  color: #f4f5fa;
  font-style: italic;
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .text-con p {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact {
  width: 100%;
  margin-top: 30px;
  z-index: 20;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact {
    display: block;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions {
    margin-left: 0;
    border: none;
    background: rgba(0, 0, 0, 0.1647058824);
  }
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions {
    padding: 5px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .click {
  left: 0;
  text-align: center;
  margin: 5px;
  color: #342e37;
  padding: 5px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .click {
    color: #f4f5fa;
    display: block;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .click p {
  font-size: 15px;
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .click p {
    font-size: 20px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .click .icon {
  font-size: 20px;
  animation: pointing 2s ease-in-out infinite;
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .click .icon {
    font-size: 40px;
  }
}
@keyframes pointing {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .icons {
  font-size: 40px;
  color: #f4f5fa;
  margin: 5px;
  font-weight: bolder;
  cursor: pointer;
  background: #4169e1;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  padding: 10px;
}
@media only screen and (min-width: 1200px) {
  .banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .icons {
    font-size: 70px;
  }
}
.banner-main-con .carousel-main-con .carousel-con .banner-text-main-con .contact .contact-ions .icons:hover {
  transform: scale(0.9);
}

.client-main-con {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  max-width: 1200px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .client-main-con {
    margin-top: 50px;
    display: block;
  }
}
.client-main-con h1 {
  font-size: 20px;
  color: #444;
}
@media only screen and (min-width: 768px) {
  .client-main-con h1 {
    font-size: 30px;
  }
}
.client-main-con h1 span {
  color: #4169e1;
}
.client-main-con .client-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.client-main-con .client-logo .img {
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px;
  width: 22%;
}

.homeabout-main-con {
  margin: 0 auto;
  margin-top: 100px;
  padding: 5px;
  color: #666;
}
@media only screen and (min-width: 1200px) {
  .homeabout-main-con {
    margin-top: 200px;
  }
}
.homeabout-main-con h1 {
  font-size: 30px;
  color: #444;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .homeabout-main-con h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .homeabout-main-con h1 {
    font-size: 50px;
  }
}
.homeabout-main-con h1 span {
  color: #4169e1;
}
.homeabout-main-con .client-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}
.homeabout-main-con .client-logo .img {
  width: 42%;
  max-width: 300px;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 10px;
}
@media only screen and (min-width: 768px) {
  .homeabout-main-con .client-logo .img {
    width: 22%;
  }
}
.homeabout-main-con .client-logo .img h3 {
  font-size: 30px;
  color: #444;
}
@media only screen and (min-width: 1023px) {
  .homeabout-main-con .client-logo .img h3 {
    font-size: 40px;
  }
}
.homeabout-main-con .client-logo .img p {
  font-size: 15px;
}
.homeabout-main-con .lower-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .homeabout-main-con .lower-part {
    margin-top: 80px;
  }
}
.homeabout-main-con .lower-part .lower-img {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  .homeabout-main-con .lower-part .lower-img {
    width: 40%;
    max-width: 500px;
  }
}
.homeabout-main-con .lower-part .lower-txt {
  line-height: 1.2;
  margin-top: 10px;
}
@media only screen and (min-width: 768px) {
  .homeabout-main-con .lower-part .lower-txt {
    width: 40%;
    max-width: 500px;
  }
}
.homeabout-main-con .lower-part .lower-txt button {
  margin-top: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  height: 40px;
  width: 100px;
  background: #4169e1;
  color: #f4f5fa;
}
.homeabout-main-con .lower-part .lower-txt button:hover {
  color: #4169e1;
  background: #f4f5fa;
  border: 1px solid #4169e1;
}

.home-services-main-con {
  margin-top: 100px;
  background: url("https://res.cloudinary.com/isreal/image/upload/v1685681953/calm%20waters%20project/picservices_swndbe.jpg") no-repeat fixed center center;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .home-services-main-con {
    height: 1030px;
  }
}
@media only screen and (min-width: 1023px) {
  .home-services-main-con {
    height: 830px;
  }
}
.home-services-main-con h1 {
  font-size: 30px;
  color: #4169e1;
  background: #f4f5fa;
  text-align: center;
  padding: 10px 0;
}
@media only screen and (min-width: 768px) {
  .home-services-main-con h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .home-services-main-con h1 {
    font-size: 50px;
  }
}
.home-services-main-con p {
  color: #444;
  background: #f4f5fa;
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
}
.home-services-main-con .services {
  padding: 5px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  background: rgba(0, 0, 0, 0.2745098039);
}
@media only screen and (min-width: 768px) {
  .home-services-main-con .services {
    padding: 15px;
  }
}
@media only screen and (min-width: 1023px) {
  .home-services-main-con .services {
    margin-top: 70px;
  }
}
.home-services-main-con .services .services-grid-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
}
.home-services-main-con .services .services-grid-con .services-grid {
  border: 1px solid #f4f5fa;
  padding: 5px;
  width: 100%;
  margin: 5px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .home-services-main-con .services .services-grid-con .services-grid {
    width: 45%;
  }
}
@media only screen and (min-width: 1023px) {
  .home-services-main-con .services .services-grid-con .services-grid {
    width: 30%;
  }
}
.home-services-main-con .services .services-grid-con .services-grid img {
  width: 100%;
  height: 200px;
}
.home-services-main-con .services .services-grid-con .services-grid:hover {
  transform: scale(0.98);
}

.benefit-main-con {
  margin-top: 20px;
  padding: 20px 5px;
  background: white;
}
.benefit-main-con .benefit-con {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.benefit-main-con .benefit-con .benefit-first-con {
  width: 100%;
  max-width: 500px;
}
@media only screen and (min-width: 768px) {
  .benefit-main-con .benefit-con .benefit-first-con {
    margin-top: -170px;
    width: 50%;
  }
}
.benefit-main-con .benefit-con .benefit-first-con h1 {
  font-size: 30px;
  color: #4169e1;
  padding: 10px 0;
}
@media only screen and (min-width: 768px) {
  .benefit-main-con .benefit-con .benefit-first-con h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .benefit-main-con .benefit-con .benefit-first-con h1 {
    font-size: 50px;
  }
}
.benefit-main-con .benefit-con .benefit-first-con p {
  margin-top: 20px;
  font-size: 15px;
  color: #666;
}
.benefit-main-con .benefit-con .benefit-first-con .btn div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #4169e1;
  height: 40px;
  width: 100px;
  margin-top: 20px;
  padding: 5px;
  color: #f4f5fa;
}
.benefit-main-con .benefit-con .benefit-first-con .btn div:hover {
  background: #f4f5fa;
  color: #4169e1;
  border: 1px solid #4169e1;
}
.benefit-main-con .benefit-con .benefit-second-con {
  padding: 20px 0;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  .benefit-main-con .benefit-con .benefit-second-con {
    width: 50%;
    max-width: 600px;
    margin-top: 170px;
  }
}
.benefit-main-con .benefit-con .benefit-second-con .benefit {
  width: 45%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.benefit-main-con .benefit-con .benefit-second-con .benefit img {
  width: 40px;
}
@media only screen and (min-width: 1023px) {
  .benefit-main-con .benefit-con .benefit-second-con .benefit img {
    width: 100px;
  }
}
.benefit-main-con .benefit-con .benefit-second-con .benefit .detail h3 {
  font-size: 15px;
  color: #444;
}
@media only screen and (min-width: 1023px) {
  .benefit-main-con .benefit-con .benefit-second-con .benefit .detail h3 {
    font-size: 20px;
  }
}
.benefit-main-con .benefit-con .benefit-second-con .benefit .detail p {
  font-size: 10px;
  color: #666;
}
@media only screen and (min-width: 1023px) {
  .benefit-main-con .benefit-con .benefit-second-con .benefit .detail p {
    font-size: 12px;
  }
}
.benefit-main-con .benefit-con .benefit-second-con .benefit1 {
  border-bottom: 1px solid gray;
}
.benefit-main-con .benefit-con .benefit-second-con .benefit2 {
  border-right: 1px solid gray;
}

.ad-con {
  margin-top: -5px;
  padding: 50px 0;
}
.ad-con h1 {
  color: #4169e1;
  margin-bottom: 15px;
  font-size: 30px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .ad-con h1 {
    font-size: 40px;
  }
}
.ad-con p {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
}
.ad-con .ad-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
}
.ad-con .ad-img p {
  color: #4169e1;
  text-align: left;
  font-size: 15px;
  margin-top: 30px;
  padding-top: 0px;
}
@media only screen and (min-width: 768px) {
  .ad-con .ad-img p {
    font-size: 18px;
  }
}
.ad-con .ad-img img {
  border-radius: 100px;
  width: 120px;
  height: 120px;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.newsletter-main-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  background: url("https://res.cloudinary.com/isreal/image/upload/v1685681953/calm%20waters%20project/picservices_swndbe.jpg") no-repeat fixed center center;
  background-size: cover;
  height: 500px;
}
.newsletter-main-con .newsletter-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3333333333);
  padding: 10px;
  width: 100%;
  height: 100%;
}
.newsletter-main-con .newsletter-text h1 {
  color: #f4f5fa;
  text-align: center;
  max-width: 600px;
}
.newsletter-main-con .newsletter-text .contact {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  z-index: 20;
}
@media only screen and (min-width: 768px) {
  .newsletter-main-con .newsletter-text .contact {
    display: block;
  }
}
.newsletter-main-con .newsletter-text .contact .contact-ions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  background: #4169e1;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
}
.newsletter-main-con .newsletter-text .contact .contact-ions .click {
  text-align: center;
  margin: 5px;
  color: #f4f5fa;
  padding: 5px;
}
@media only screen and (min-width: 768px) {
  .newsletter-main-con .newsletter-text .contact .contact-ions .click {
    color: #f4f5fa;
  }
}
.newsletter-main-con .newsletter-text .contact .contact-ions .click p {
  font-size: 15px;
}
@media only screen and (min-width: 1200px) {
  .newsletter-main-con .newsletter-text .contact .contact-ions .click p {
    font-size: 20px;
  }
}
.newsletter-main-con .newsletter-text .contact .contact-ions .click .icon {
  font-size: 20px;
  animation: pointing 2s ease-in-out infinite;
}
@media only screen and (min-width: 1200px) {
  .newsletter-main-con .newsletter-text .contact .contact-ions .click .icon {
    font-size: 40px;
  }
}
@keyframes pointing {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
.newsletter-main-con .newsletter-text .contact .contact-ions .icons {
  font-size: 40px;
  margin: 5px;
  font-weight: bolder;
  cursor: pointer;
  background: #4169e1;
  color: #f4f5fa;
  width: 100px;
  height: 50px;
  padding: 5px;
}
@media only screen and (min-width: 1200px) {
  .newsletter-main-con .newsletter-text .contact .contact-ions .icons {
    font-size: 70px;
  }
}
.newsletter-main-con .newsletter-text .contact .contact-ions .icons:hover {
  transform: scale(0.9);
}

.footer-main-con {
  background: white;
  margin-top: -7px;
  padding-top: 30px;
}
.footer-main-con .footer-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-main-con .footer-con {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
.footer-main-con .footer-con .top-con {
  background: whitesmoke;
  padding: 20px 10px;
  width: 90%;
}
@media only screen and (min-width: 768px) {
  .footer-main-con .footer-con .top-con {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 40vh;
    max-width: 400px;
    margin: 20px;
  }
}
.footer-main-con .footer-con .top-con .img-con {
  width: 100%;
  max-width: 400px;
}
.footer-main-con .footer-con .top-con .img-con img {
  width: 100%;
}
.footer-main-con .footer-con .top-con p {
  font-size: 15px;
  margin-top: 20px;
}
.footer-main-con .footer-con .top-con .icon-con {
  width: 70%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.footer-main-con .footer-con .top-con .icon-con .icon {
  color: white;
  background: #342e37;
  width: 35px;
  height: 35px;
  padding: 5px;
  margin: 0 5px;
}
.footer-main-con .footer-con .top-con .icon-con .icon:hover {
  transform: translateY(-5px);
}
.footer-main-con .footer-con .lower-con {
  width: 90%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-main-con .footer-con .lower-con {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
.footer-main-con .footer-con .lower-con .quick-link {
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .footer-main-con .footer-con .lower-con .quick-link {
    width: 30%;
  }
}
.footer-main-con .footer-con .lower-con .quick-link h3 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .footer-main-con .footer-con .lower-con .quick-link h3 {
    font-size: 15px;
  }
}
.footer-main-con .footer-con .lower-con .quick-link .links {
  color: #666;
  margin-bottom: 10px;
}
.footer-main-con .copyright {
  padding: 20px 5px;
  margin-top: 50px;
  background: #4169e1;
}
.footer-main-con .copyright p {
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */