// @import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:wght@300&family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

// global variables
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Orbitron", sans-serif;
}

*::-webkit-scrollbar-track {
  background-color: rgba(245, 245, 245, 0);
  display: none;
}

*::-webkit-scrollbar-thumb {
  display: none;
  background-color: rgba(65, 105, 225, 0);
}

$font-family: "Poppins", sans-serif;
$border-radius: 5px;
$border-radius-big: 10px;
$bg-light: #f9f9f9;
$font-light: #666;
$bg-gray: #eee;
$bg-dark-gray: #444;
$bg-dark: #342e37;
$bg-light: #f4f5fa;
$bg-blue: #4169e1;

@mixin flexDisplay($justifyProp, $alignProp, $flexDirection) {
  display: flex;
  justify-content: $justifyProp;
  align-items: $alignProp;
  flex-direction: $flexDirection;
}

@mixin responsive($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (min-width: 320px) {
      @content;
    }
  }
  @if $breakpoint==bigphone {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 1023px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
}

// NAVBAR
.main-nav {
  //   position: absolute;
  width: 100%;
  z-index: 20;

  .navbar-main-con {
    background: $bg-light;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    height: 50px;
    width: 98%;
    @include flexDisplay(center, flex-start, column);

    @include responsive(bigphone) {
      border-radius: $border-radius-big;
      height: 60px;
      width: 98%;
      @include flexDisplay(space-between, center, row);
    }

    .logo-con {
      height: 100%;
      width: 100%;

      @include responsive(bigphone) {
        @include flexDisplay(flex-start, center, row);
        width: 300px;
      }
      img {
        height: 100%;
        transform: scale(0.9);
        @include responsive(bigphone) {
          height: 70px;
        }
      }
      .wholename {
        height: 80%;
        margin-right: 20px !important;
        @include responsive(bigphone) {
          height: 40%;
          margin-right: 20px;
        }
      }
    }

    .navbar {
      //   border: 2px solid rgb(0, 55, 255);
      background: $bg-light;
      overflow: hidden;
      height: 0;
      right: -8px !important;
      width: 100vw;
      max-width: 800px;
      position: absolute;
      top: 50px;
      z-index: 2;
      @include flexDisplay(center, center, column);

      @include responsive(bigphone) {
        @include flexDisplay(center, flex-end, column);
        position: relative;
        top: 0;
        height: 100%;
      }

      ul {
        width: 100%;
        @include flexDisplay(center, center, column);

        @include responsive(bigphone) {
          @include flexDisplay(space-around, center, row);
          // justify-content: end;
          width: 90%;
          max-width: 700px;
        }

        li {
          padding: 2px;
          margin: 10px 5px;
          text-align: center;
          font-weight: 600;
          color: $bg-blue;

          @include responsive(bigphone) {
            @include flexDisplay(flex-end, center, row);
            justify-content: flex-end;
          }

          &:hover {
            color: $font-light;
          }
        }
      }
    }

    .active-meun {
      height: auto;
    }

    .menu-btn {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 35px;
      color: $bg-blue;
      cursor: pointer;
      @include responsive(bigphone) {
        display: none;
      }
    }
  }
}

// BANNER STYLE
.banner-main-con {
  //   border: 2px solid red;
  background: black;

  .carousel-main-con {
    // border: 2px solid rgb(0, 64, 255);
    position: relative;
    height: 300px;

    @include responsive(bigphone) {
      height: 500px;
    }
    @include responsive(desktop) {
      height: 800px;
    }

    .carousel-con {
      .carousel-items-con {
        height: 300px;
        width: 100%;
        position: absolute;
        top: 0;
        // border: 2px solid red;

        @include responsive(bigphone) {
          height: 500px;
        }
        @include responsive(desktop) {
          height: 800px;
        }
        .img {
          object-fit: cover;
          opacity: 0.5;
        }
      }
      @include responsive(bigphone) {
        height: 300px;
      }
      @include responsive(desktop) {
        height: 500px;
      }

      .banner-text-main-con {
        // border: 2px solid red;
        position: absolute;
        top: 120px;
        max-width: 400px;
        padding: 5px;

        @include responsive(bigphone) {
          top: 200px;
        }
        @include responsive(desktop) {
          top: 300px;
          max-width: 800px;
          //   border: 2px solid red;
        }

        .text-con {
          h1 {
            color: $bg-light;
            @include responsive(bigphone) {
              font-size: 40px;
            }
            @include responsive(desktop) {
              font-size: 80px;
            }
            span {
              color: $bg-blue;
            }
          }
          p {
            color: $bg-light;
            font-style: italic;
            @include responsive(desktop) {
              font-size: 20px;
              letter-spacing: 2px;
            }
          }
        }

        .contact {
          width: 100%;

          margin-top: 30px;
          z-index: 20;
          //   display: none;
          @include responsive(bigphone) {
            display: block;
            // border: 2px solid red;
          }

          .contact-ions {
            @include flexDisplay(space-around, center, row);
            border-radius: 10px;
            // border: 0.2px solid gray;
            // background: $font-light;
            width: 100%;
            margin: 0 auto;

            @include responsive(bigphone) {
              margin-left: 0;
              border: none;
              background: #0000002a;
            }
            @include responsive(desktop) {
              padding: 5px;
            }
            .click {
              //   border: 1px solid red;
              left: 0;
              text-align: center;
              margin: 5px;
              color: $bg-dark;
              padding: 5px;
              display: none;
              @include responsive(bigphone) {
                color: $bg-light;
                display: block;
              }
              p {
                font-size: 15px;
                @include responsive(desktop) {
                  font-size: 20px;
                }
              }

              .icon {
                font-size: 20px;
                animation: pointing 2s ease-in-out infinite;

                @include responsive(desktop) {
                  font-size: 40px;
                }
              }

              @keyframes pointing {
                0% {
                  transform: translateX(10px);
                }
                50% {
                  transform: translateX(0px);
                }
                100% {
                  transform: translateX(10px);
                }
              }
            }

            .icons {
              font-size: 40px;
              color: $bg-light;
              margin: 5px;
              font-weight: bolder;
              cursor: pointer;
              background: $bg-blue;
              border-radius: 5px;
              width: 100px;
              height: 50px;
              padding: 10px;

              @include responsive(desktop) {
                font-size: 70px;
              }
              &:hover {
                transform: scale(0.9);
              }
            }
          }
        }
      }
    }
  }
}

// CLIENTS
.client-main-con {
  // border: 2px solid red;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  max-width: 1200px;
  // display: none;
  @include responsive(bigphone) {
    margin-top: 50px;
    display: block;
  }

  h1 {
    font-size: 15px;
    color: $bg-dark-gray;
    font-weight: normal;
    @include responsive(bigphone) {
      font-size: 20px;
    }
    @include responsive(desktop) {
      font-size: 30px;
    }
    span {
      color: $bg-blue;
    }
  }

  .client-logo {
    @include flexDisplay(space-around, center, row);
    // border: 2px solid red;
    flex-wrap: wrap;
    // margin-top: 20px;

    .img {
      // border: 2px solid red;
      object-fit: contain;
      margin: 5px;
      width: 22%;
      height: 50%;
    }
  }
}

// CLIENTS
.homeabout-main-con {
  margin: 0 auto;
  margin-top: 50px;
  padding: 5px;
  color: $font-light;

  @include responsive(desktop) {
    margin-top: 200px;
  }

  h1 {
    font-size: 30px;
    color: $bg-dark-gray;
    text-align: center;
    // border: 2px solid red;
    @include responsive(bigphone) {
      font-size: 40px;
    }
    @include responsive(desktop) {
      font-size: 50px;
    }
    span {
      color: $bg-blue;
    }
  }

  .client-logo {
    @include flexDisplay(space-around, center, row);
    flex-wrap: wrap;
    margin-top: 20px;

    .img {
      width: 42%;
      max-width: 300px;
      text-align: center;
      object-fit: contain;
      margin: 10px;

      @include responsive(bigphone) {
        width: 22%;
      }

      h3 {
        font-size: 30px;
        color: $bg-dark-gray;

        @include responsive(tablet) {
          font-size: 40px;
        }
      }
      p {
        font-size: 15px;
      }
    }
  }

  .lower-part {
    // border: 2px solid red;
    @include flexDisplay(space-evenly, center, row);
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 30px;

    @include responsive(bigphone) {
      margin-top: 80px;
    }
    .lower-img {
      //   border: 2px solid red;
      width: 100%;
      height: auto;
      @include responsive(bigphone) {
        width: 40%;
        max-width: 500px;
      }
    }

    .lower-txt {
      //   border: 2px solid red;
      line-height: 1.2;
      margin-top: 10px;
      @include responsive(bigphone) {
        width: 40%;
        max-width: 500px;
      }
      button {
        margin-top: 10px;
        cursor: pointer;
        border: none;
        font-size: 15px;
        height: 40px;
        width: 100px;
        background: $bg-blue;
        color: $bg-light;

        &:hover {
          color: $bg-blue;
          background: $bg-light;
          border: 1px solid $bg-blue;
        }
      }
    }
  }
}

// SERVICES
.home-services-main-con {
  margin-top: 100px;
  // background: url("https://res.cloudinary.com/isreal/image/upload/v1685681953/calm%20waters%20project/picservices_swndbe.jpg")
  //   no-repeat fixed center center;
  // background-size: cover;
  //   height: 720px;
  background: $bg-blue;
  // border: 2px solid red;
  padding-bottom: 40px;
  // @include flexDisplay(center, center, column);
  h1 {
    font-size: 30px;
    color: $bg-blue;
    background: $bg-light;
    text-align: center;
    padding: 10px 0;
    @include responsive(bigphone) {
      font-size: 40px;
    }
    @include responsive(desktop) {
      font-size: 50px;
    }
  }
  p {
    color: $bg-dark-gray;
    background: $bg-light;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
  }
  .services {
    // border: 2px solid red;
    padding: 5px;
    // width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;

    background: #00000046;

    @include responsive(bigphone) {
      padding: 15px;
    }

    .services-grid-con {
      // border: 2px solid red;
      @include flexDisplay(space-evenly, center, row);
      flex-wrap: wrap;
      margin: 10px 0;
      .services-grid {
        border: 1px solid $bg-light;
        padding: 5px;
        width: 100%;
        // height: 250px;
        margin: 5px;
        text-align: center;
        @include responsive(bigphone) {
          width: 45%;
        }
        @include responsive(tablet) {
          width: 30%;
        }
        img {
          width: 100%;
          height: 230px;
        }

        &:hover {
          transform: scale(0.98);
        }
      }
    }
  }
}

// BENEFIT
.benefit-main-con {
  //   border: 2px solid red;
  margin-top: 20px;
  padding: 20px 5px;
  background: white;

  .benefit-con {
    @include flexDisplay(space-evenly, center, row);
    flex-wrap: wrap;

    .benefit-first-con {
      width: 100%;
      max-width: 500px;
      @include responsive(bigphone) {
        // border: 2px solid red;
        margin-top: -170px;
        width: 50%;
      }
      h1 {
        font-size: 30px;
        color: $bg-blue;
        padding: 10px 0;
        // max-width: 300px;
        @include responsive(bigphone) {
          font-size: 40px;
        }
        @include responsive(desktop) {
          font-size: 50px;
        }
      }

      p {
        margin-top: 20px;
        font-size: 15px;
        color: $font-light;
        // max-width: 500px;

        @include responsive(bigphone) {
          //   max-width: 300px;
        }
      }

      .btn {
        div {
          @include flexDisplay(center, center, row);
          background: $bg-blue;
          height: 40px;
          width: 100px;
          margin-top: 20px;
          padding: 5px;
          color: $bg-light;

          &:hover {
            background: $bg-light;
            color: $bg-blue;
            border: 1px solid $bg-blue;
          }
        }
      }
    }

    .benefit-second-con {
      //   border: 2px solid red;
      padding: 20px 0;
      margin-top: 20px;
      @include flexDisplay(center, center, row);
      flex-wrap: wrap;
      @include responsive(bigphone) {
        width: 50%;
        max-width: 600px;
        margin-top: 170px;
      }
      .benefit {
        width: 45%;
        padding: 10px;
        @include flexDisplay(center, center, row);

        img {
          width: 40px;

          @include responsive(tablet) {
            width: 100px;
          }
        }

        .detail {
          h3 {
            font-size: 15px;
            color: $bg-dark-gray;
            @include responsive(tablet) {
              font-size: 20px;
            }
          }
          p {
            font-size: 10px;
            color: $font-light;

            @include responsive(tablet) {
              font-size: 12px;
            }
          }
        }
      }

      .benefit1 {
        border-bottom: 1px solid gray;
      }
      .benefit2 {
        border-right: 1px solid gray;
      }
    }
  }
}

// REVIEW
.ad-con {
  margin-top: -5px;
  padding: 50px 0;
  h1 {
    color: $bg-blue;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
    @include responsive(bigphone) {
      font-size: 40px;
    }
  }
  p {
    text-align: center;
    // color: $orange;
    font-size: 18px;
    font-weight: 100;
  }

  .ad-img {
    @include flexDisplay(space-between, center, row);
    position: relative;

    p {
      color: $bg-blue;
      text-align: left;
      font-size: 15px;
      margin-top: 30px;
      padding-top: 0px;

      @include responsive(bigphone) {
        font-size: 18px;
      }
    }
    img {
      // border: 1px solid $bg-blue;
      border-radius: 100px;
      //   position: absolute;
      width: 120px;
      height: 120px;
      margin: 10px;
      bottom: 0;
      right: 0;
    }
  }
}
.newsletter-main-con {
  //   border: 2px solid red;
  @include flexDisplay(center, center, column);

  margin-top: 100px;
  background: url("https://res.cloudinary.com/isreal/image/upload/v1685681953/calm%20waters%20project/picservices_swndbe.jpg")
    no-repeat fixed center center;
  background-size: cover;
  height: 500px;

  .newsletter-text {
    @include flexDisplay(center, center, column);

    background: #00000055;
    padding: 10px;
    width: 100%;
    height: 100%;

    h1 {
      color: $bg-light;
      text-align: center;
      max-width: 600px;
    }
    .contact {
      width: 100%;
      max-width: 600px;
      margin-top: 30px;
      z-index: 20;
      //   display: none;
      @include responsive(bigphone) {
        display: block;
        // border: 2px solid red;
      }

      .contact-ions {
        @include flexDisplay(space-around, center, row);
        border-radius: 10px;
        // border: 0.2px solid gray;
        background: $bg-blue;
        border-radius: 10px;
        width: 100%;
        margin: 0 auto;

        // @include responsive(bigphone) {
        //   margin-left: 0;
        //   border: none;
        //   background: #0000002a;
        // }
        // @include responsive(desktop) {
        //   padding: 5px;
        // }
        .click {
          // border: 1px solid red;
          text-align: center;
          margin: 5px;
          color: $bg-light;
          padding: 5px;
          @include responsive(bigphone) {
            color: $bg-light;
          }
          p {
            font-size: 15px;
            @include responsive(desktop) {
              font-size: 20px;
            }
          }

          .icon {
            font-size: 20px;
            animation: pointing 2s ease-in-out infinite;

            @include responsive(desktop) {
              font-size: 40px;
            }
          }

          @keyframes pointing {
            0% {
              transform: translateX(10px);
            }
            50% {
              transform: translateX(0px);
            }
            100% {
              transform: translateX(10px);
            }
          }
        }

        .icons {
          font-size: 40px;
          margin: 5px;
          font-weight: bolder;
          cursor: pointer;
          background: $bg-blue;
          color: $bg-light;
          width: 100px;
          height: 50px;
          padding: 5px;

          @include responsive(desktop) {
            font-size: 70px;
          }
          &:hover {
            transform: scale(0.9);
          }
        }
      }
    }
  }
}
// FOOTER
.footer-main-con {
  background: white;
  margin-top: -7px;
  padding-top: 30px;

  .footer-con {
    @include flexDisplay(space-around, center, column);
    @include responsive(bigphone) {
      max-width: 1100px;
      margin: 0 auto;
      @include flexDisplay(space-around, center, row);
    }
    .top-con {
      background: whitesmoke;
      padding: 20px 10px;
      width: 90%;

      @include responsive(bigphone) {
        @include flexDisplay(center, flex-start, column);
        height: 40vh;
        max-width: 400px;
        margin: 20px;
      }
      .img-con {
        width: 100%;
        max-width: 400px;

        img {
          width: 100%;
        }
      }
      p {
        font-size: 15px;
        margin-top: 20px;
      }

      .icon-con {
        width: 70%;
        // padding: 5px;
        margin-top: 20px;
        @include flexDisplay(space-around, center, row);

        .icon {
          color: white;
          background: $bg-dark;
          width: 35px;
          height: 35px;
          padding: 5px;
          margin: 0 5px;

          &:hover {
            transform: translateY(-5px);
          }
        }
      }
    }

    .lower-con {
      width: 90%;
      margin-top: 20px;
      @include flexDisplay(space-around, flex-start, column);
      @include responsive(bigphone) {
        @include flexDisplay(space-around, center, row);
      }
      .quick-link {
        margin-bottom: auto;
        @include flexDisplay(center, flex-start, column);
        @include responsive(bigphone) {
          width: 30%;
        }
        h3 {
          border-bottom: 2px solid black;
          padding-bottom: 10px;
          margin-bottom: 10px;
          margin-top: 30px;

          @include responsive(bigphone) {
            font-size: 15px;
          }
        }
        .links {
          color: $font-light;
          margin-bottom: 10px;
        }
      }
    }
  }
  .copyright {
    padding: 20px 5px;
    margin-top: 50px;
    background: $bg-blue;
    p {
      text-align: center;
      color: white;
    }
  }
}
